@model Pubtracker2FrontEnd.Models.ptPublication
@{ ViewBag.Title = "Publication Details";}

    @*<p>@Html.ActionLink("Back to List", "Index")</p>*@
    <table class="table">
        <tr bgcolor="#dae0eb">
            <th>PublicationId</th>
            <th>Title</th>
            <th>Type</th>
            <th>Series</th>
            <th>Division</th>
            <th>Remarks</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.PublicationId)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Type.TypeName)</td>
            <td>@Html.DisplayFor(model => model.Series)</td>
            <td>@Html.DisplayFor(model => model.Division.DivisionName)</td>
            <td>@Html.DisplayFor(model => model.Remarks)</td>
        </tr>
        <tr></tr>
        <tr bgcolor="#dae0eb"><th>@Html.ActionLink("Create New Role", "CreateRole", new { id = Model.PublicationId })</th>
            <th>Role</th>
            <th>User</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.Roles.FindAll(x => x.UserId != "NA"))
        {
            <tr><td></td>
                <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                <td>@Html.ActionLink("Edit", "EditRole", new { pubid = Model.PublicationId, roleid = item.RoleId })</td>
                <td>@Html.ActionLink("Delete", "DeleteRole", new { pubid = Model.PublicationId, roleid = item.RoleId })</td>
            </tr>
        }
        <tr bgcolor="#dae0eb"><th>@Html.ActionLink("Create New Status", "CreateStatus", new { id = Model.PublicationId })</th>
            <th>Status</th>
            <th>Date Time</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.Statuses.OrderByDescending(x => x.StepDateTime))
        {
            <tr>
                <td></td>
                <td>@Html.DisplayFor(modelItem => item.StepName)</td>
                <td>@Html.DisplayFor(modelItem => item.StepDateTime)</td>
                <td>@Html.ActionLink("Edit", "EditStatus", new { pubid = Model.PublicationId, stepid = item.StepName })</td>
                <td>@Html.ActionLink("Delete", "DeleteStatus", new { pubid = Model.PublicationId, stepid = item.StepName })</td>
            </tr>
        }
    </table>

