
@{
    ViewBag.Title = "Admin";
}

<h2>Administration</h2>

<ul>
    <li>@Html.ActionLink("Divisions", "Index", "Divisions")</li>
    <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
    <li>@Html.ActionLink("Steps", "Index", "Steps")</li>
    <li>@Html.ActionLink("Types", "Index", "Types")</li>
    <li>@Html.ActionLink("Users", "Index", "Users")</li>
</ul>
